@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

body {
  margin: 0;
  font-family: 'Lobster Two', cursive;
  background-image: url("./images/plants.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.button{
  font-family: 'Lobster Two', cursive ;
}

.App {
  text-align: center;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #130408;
  font-weight: 500px;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
